/**
 * footer.css
 *
 * Gestion du bas-de-page.
 *
 * Maxime FRIESS, Léo EICHHORN - 2019.
 */
 
/**Couleurs:
 *-Gris:		#343a40, #6c757d
 *-Blanc:		#f8f9fa
 *-Noir:		#171a1c
 */

/**
 *  Quand la largeur de l'écran est < 768px, on centre les élements
 * du footer.
 */
.footer-left, .footer-right {
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (min-width: 768px) {
    .footer-left {
        text-align: left;
        justify-content: left;
    }

    .footer-right {
        text-align: right;
        justify-content: right;
    }
}

footer {
    background-color: #343a40;
    color: #f8f9fa;
    box-shadow: 0px 0px 5px 2px #6c757d;
    padding-top: 10px;
    padding-bottom: 5px;
    position: relative;
    border-top: 1px solid #171a1c;
}

div.footer {
    align-items: center;
    margin: 0;
}

/*
 * Logo dans le footer, affiché à gauche.
 */
.footer-logo { /*Class pour le Logo*/
    float: left;
    display: inline-block;
    width: 70px;
    margin-right: 10px;
}
