/**
 * header.css
 *
 * Gestion du haut-de-page et du menu
 * de navigation.
 *
 * Maxime FRIESS, Léo EICHHORN - 2019.
 */

/**Couleurs: 
 *-Gris:		#6c757d
 *-Blanc:		#f8f9fa, #e9eaeb
 *-Noir:		#171a1c
 *-Bleu:		#007bff
 *-Gris clair:	#bcc0c4
 */
 
header {
    background-color: #343a40;
    color: #f8f9fa;
    box-shadow: 0px 0px 5px 2px #6c757d;
    padding-top: 10px;
    padding-bottom: 5px;
    position: relative;
    border-bottom: 1px solid #171a1c;
    z-index: 1000;
}

/**
 * Titre de la page. Border bleu
 * à gauche pour effet stylistique.
 */
header h1 {
    display: inline-block;
    font-size: 30px;
    border-left: 3px solid #007bff;
    padding-left: 3px;
    margin-left: -3px;
}

/**
 * Logo dans header. Utilisation de margin négatifs pour
 * le positionnement.
 */
header img {
    vertical-align: middle;
    height: 40px;
    width: 40px;
    margin-top: -12px;
}

.title {
    display: inline-block;
    width: 200px;
}

.title a {
    color: inherit;
    text-decoration: none;
}

.title-text {
    margin-left: 5px;
    display: inline-block;
    font-size: 30px;
}

/**
 * Barre de navigation sous forme d'onglets
 * Position sticky, pour faciliter la navigation
 * (tout reste sur la page)
 *
 * Inspiré de https://getbootstrap.com/docs/4.3/components/navs/#tabs
 */
nav {
    padding-top: 20px;
    background-color: #bcc0c4;
    position: sticky;
    top: 0;
    z-index: 999;
}

@media (min-width: 576px) {
    nav {
        padding-left: 0;
    }
}

/* Désactivation des puces sur éléments du nav */
nav ul {
    list-style: none;
    margin-left: 0;
}

nav ul li {
    display: inline-block;
    padding: 7px 14px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-color: #e9eaeb;
    margin-top: 2px;
    border: 1px solid #e9eaeb;
}

nav a {
    text-decoration: none;
}

nav .container {
    padding: 0;
}

/**
 * Pseudo-élement après container de la nav, utilisé
 * pour espacement avec le contenue de la page.
 */
nav .container::after {
    height: 10px;
    background-color: #f8f9fa;
    content: "";
    display: block;
}

/**
 * Change la couleur de la police et de la tab pour
 * la page courante.
 */
nav ul li.active {
    border: 1px solid #f8f9fa;
    border-bottom: 1px solid #f8f9fa;
    background-color: #f8f9fa;
}
