/**
 * style.css
 *
 * Style global de la page.
 *
 * Maxime FRIESS, Léo EICHHORN - 2019.
 */
 
/**Couleurs:
 *-Bleu:		#007bff
 *-Blanc:		#f8f9fa
 *-Gris clair:	#bcc0c4
 *-Gris foncé:	#343a40
 */

/**
 * Importation de la police Ubuntu.
 */
@font-face {
  font-family: 'Ubuntu';
  src: url("../font/Ubuntu-Regular.ttf");
}

/**
 * Style global.
 */
* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #bcc0c4;
    color: #343a40;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/**
 * Utilisation d'une flexbox pour mettre le footer
 * en bas de la page, même quand le contenu ne
 * rempli pas celle-ci en entier.
 */
.flex-container {
    flex: 1 0 auto;
}

article p {
    /*text-indent: 40px;*/
    margin-bottom: 1em;
    text-align: justify;
}

article .container {
    background-color: #f8f9fa;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
}
/**
 * Classe média utilisée pour audio, vidéo, images.
 */
.media {
    text-align: center;
    width: 100%;
}

/**
 * Description de l'élement audio/vidéo/image, placé sous celui-ci.
 */
.media small {
    display: block;
}

.media iframe,img {
    width:100%;
    height: auto;
    border: none;
}

.video {
     height: 300px !important;
}

audio {
    width: 100%;
}


a {
    color: #007bff;
}

/**
 * Flèche utilisé dans les menus dépliables
 * et dans la barre de nav.
 */
.arrow-up, .arrow-down {
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    top: 1px;
    margin-right: 4px;
    margin-left: 4px;
}

.arrow-up {
    background-image: url("../svg/up.svg");
}

.arrow-down {
    background-image: url("../svg/down.svg");
}

/**
 * Style des titres et du contenue.
 */
h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
}

ul,ol {
    margin-left: 15px;
}

.hoverable {
    cursor: pointer;
}

/**
 * Tooltip hoverable,, pour permettre d'afficher du contenue
 * utile mais pas essentiel (définitions, ...) sans encombrer
 * la page mais sans faire de lien.
 *
 * https://www.w3schools.com/css/css_tooltip.asp
 */

.tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted #343a40;
      text-indent: 0;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #343a40;
    color: #f8f9fa;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1001;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip-big .tooltiptext {
    margin-left: -150px;
    width: 300px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #343a40 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
